/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Container */
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}


main {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
}

label {
    display: flex;
    align-items: left;
    justify-content: space-between; /* This will push content to either end */
    margin-bottom: 15px;
}



input, textarea, button, div, label {
    margin-bottom: 15px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

input[type="radio"] {
    width: auto;
    margin: 0 5px 0 15px;
}

label {
    display: flex;
    flex-direction: column;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #B0C4DE;  /* A light steel blue to indicate disabled */
    cursor: not-allowed;
}

span {
    font-weight: bold;
    margin-bottom: 10px;
}

.output-box {
    width: 100%;  /* or your preferred width */
    height: 200px;  /* or your preferred height */
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    resize: none;  /* to prevent resizing */
}
.error-message {
    color: red;
    text-align: center;
    font-size: 0.875rem;
    margin-top: 10px;
}

input:focus, textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.5);
}
